body {
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  margin: 0;
  padding: 0;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.weather-container {
  background: rgba(0, 0, 0, 0.4);
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  width: 90%;
  max-width: 400px;
}

input {
  padding: 10px;
  width: 70%;
  border: none;
  border-radius: 8px;
  margin-bottom: 15px;
}

button {
  padding: 10px 20px;
  border: none;
  background: #ffcc00;
  color: #000;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #ffc107;
}

#weatherInfo img {
  width: 100px;
  margin: 10px 0;
}

.hidden {
  display: none;
}
